*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #4d4d58;
    color: #584848;
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    top: 100px;
}
.container{
    margin: 30px;
}

input{
    width: 400px;
    border: none;
    outline: none;
    padding: 3px;
    border-radius: 3px;
}


button{
    border: none; 
    width: 200px;
    position: relative;
    left: 10px;
    cursor: pointer;
    padding: 3px;
    outline: none;
    border-radius: 4px;
    background-color: #ff0;
}